# Question1: list and its functions

In [4]:
lst=[1,22,'hello',33.7,[8,9,7]]

In [5]:
lst

[1, 22, 'hello', 33.7, [8, 9, 7]]

In [6]:
lst.append('Welcome!')

In [7]:
lst

[1, 22, 'hello', 33.7, [8, 9, 7], 'Welcome!']

In [8]:
lst.append(22)

In [9]:
lst

[1, 22, 'hello', 33.7, [8, 9, 7], 'Welcome!', 22]

In [10]:
lst.insert(3,'thanks')

In [11]:
lst

[1, 22, 'hello', 'thanks', 33.7, [8, 9, 7], 'Welcome!', 22]

In [12]:
lst.pop()

22

In [13]:
lst.remove(22)

In [14]:
lst

[1, 'hello', 'thanks', 33.7, [8, 9, 7], 'Welcome!']

# Question 2: Dictionary and its functions

In [17]:
dit1={"name":"sneha","age":"21","city":"pune"}

In [18]:
type(dit1)

dict

In [19]:
dit1

{'name': 'sneha', 'age': '21', 'city': 'pune'}

In [20]:
dit1.keys()

dict_keys(['name', 'age', 'city'])

In [21]:
dit1.setdefault(1)

In [22]:
dit1

{'name': 'sneha', 'age': '21', 'city': 'pune', 1: None}

In [23]:
dit1.items()

dict_items([('name', 'sneha'), ('age', '21'), ('city', 'pune'), (1, None)])

In [26]:
dit1.get('name')

'sneha'

In [42]:
dit2={"name":"sneha","age":"21","city":"pune","state":"Maharashtra"}

In [43]:
dit1.update(dit2)

In [44]:
dit1

{'name': 'sneha',
 'age': '21',
 'city': 'pune',
 1: None,
 '1': 'Integer',
 'state': 'Maharashtra'}

# Question 3:Sets and its functions

In [77]:
set1={'hola','everyone!',3,4,5,6,6,8,8,4}

In [78]:
set1

{3, 4, 5, 6, 8, 'everyone!', 'hola'}

In [79]:
set1.add(10)

In [80]:
set1

{10, 3, 4, 5, 6, 8, 'everyone!', 'hola'}

In [81]:
set2={3,4,5,'welcome'}

In [82]:
set1.difference(set2)

{10, 6, 8, 'everyone!', 'hola'}

In [83]:
set1.issubset(set2)

False

In [84]:
set1.intersection(set2)

{3, 4, 5}

In [85]:
set1.issubset(set2)

False

In [86]:
set2.union(set1)

{10, 3, 4, 5, 6, 8, 'everyone!', 'hola', 'welcome'}

In [87]:
set1.intersection_update(set2)

In [88]:
set1

{3, 4, 5}

# Question 4:Tuple and its functions

In [89]:
tup=('signs','@','&','*','*',7,8,9)

In [90]:
tup

('signs', '@', '&', '*', '*', 7, 8, 9)

In [91]:
tup.count('*')

2

In [92]:
tup.index(7)

5

# Question 5:String and its functions

In [93]:
str1="This is my first assignment"

In [100]:
str2=" DAY 2"

In [98]:
str1.count('i')

4

In [101]:
str2.capitalize()

' day 2'

In [112]:
new=str1.center(54)

In [113]:
print("Centered String: ",new)

Centered String:               This is my first assignment

In [117]:
str1.encode()

b'This is my first assignment'

In [121]:
str1.endswith('t')

True

In [122]:
str2.isalpha()

False

In [123]:
str1.split(' ')

['This', 'is', 'my', 'first', 'assignment']

# End of Assignment